In [9]:
# 서울시 유동 인구 (직장 인구) 데이터 가져오기
# 총 34484개

import pandas as pd

data = pd.read_csv('서울시 우리마을가게 상권분석서비스(상권-직장인구).csv', encoding='cp949')     # csv 파일 읽기
data

,기준_년월_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,총_직장_인구_수,남성_직장_인구_수,여성_직장_인구_수,연령대_10_직장_인구_수,...,남성연령대_30_직장_인구_수,남성연령대_40_직장_인구_수,남성연령대_50_직장_인구_수,남성연령대_60_이상_직장_인구_수,여성연령대_10_직장_인구_수,여성연령대_20_직장_인구_수,여성연령대_30_직장_인구_수,여성연령대_40_직장_인구_수,여성연령대_50_직장_인구_수,여성연령대_60_이상_직장_인구_수
0,2022,2,U,관광특구,1001496,강남 마이스 관광특구,15904,8904,7000,59,...,3361,2887,1246,225,34,2353,2824,1361,350,78
1,2022,2,U,관광특구,1001495,잠실 관광특구,24375,14199,10176,120,...,4186,3496,2297,1685,69,2238,2379,2121,2217,1152
2,2022,2,U,관광특구,1001494,종로?청계 관광특구,32935,17150,15785,68,...,4911,4591,4158,1190,53,3072,5054,4892,2243,471
3,2022,2,U,관광특구,1001493,동대문패션타운 관광특구,6054,2958,3096,36,...,737,662,600,403,23,891,958,498,461,265
4,2022,2,U,관광특구,1001492,명동 남대문 북창동 다동 무교동 관광특구,104830,53674,51156,423,...,16080,15133,10824,2640,286,18274,17927,8251,4902,1516
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34479,2017,2,A,골목상권,2110005,세검정,445,159,286,0,...,38,47,27,27,0,58,102,56,43,27
34480,2017,2,A,골목상권,2110004,대신고등학교,41,14,27,0,...,1,2,9,1,0,1,3,8,12,3
34481,2017,2,A,골목상권,2110003,세검정초등학교,144,79,65,0,...,10,30,25,10,0,2,10,25,17,11
34482,2017,2,A,골목상권,2110002,독립문역 1번,583,152,431,0,...,29,53,31,22,0,116,119,114,61,21
34483,2017,2,A,골목상권,2110001,이북5도청사,276,158,118,0,...,37,55,41,23,0,7,31,34,32,14

In [10]:
data.columns

Index(['기준_년월_코드', '기준_분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명',
       '총_직장_인구_수', '남성_직장_인구_수', '여성_직장_인구_수', '연령대_10_직장_인구_수',
       '연령대_20_직장_인구_수', '연령대_30_직장_인구_수', '연령대_40_직장_인구_수', '연령대_50_직장_인구_수',
       '연령대_60_이상_직장_인구_수', '남성연령대_10_직장_인구_수', '남성연령대_20_직장_인구_수',
       '남성연령대_30_직장_인구_수', '남성연령대_40_직장_인구_수', '남성연령대_50_직장_인구_수',
       '남성연령대_60_이상_직장_인구_수', '여성연령대_10_직장_인구_수', '여성연령대_20_직장_인구_수',
       '여성연령대_30_직장_인구_수', '여성연령대_40_직장_인구_수', '여성연령대_50_직장_인구_수',
       '여성연령대_60_이상_직장_인구_수'],
      dtype='object')

In [12]:
# 필요한 열 데이터 가져오기
data = data[['기준_년월_코드','상권_구분_코드_명', '총_직장_인구_수', '연령대_20_직장_인구_수', '연령대_30_직장_인구_수']]
data

       기준_년월_코드 상권_구분_코드_명  총_직장_인구_수  연령대_20_직장_인구_수  연령대_30_직장_인구_수
0          2022       관광특구      15904            3513            6185
1          2022       관광특구      24375            4722            6565
2          2022       관광특구      32935            5357            9965
3          2022       관광특구       6054            1434            1695
4          2022       관광특구     104830           27134           34007
...         ...        ...        ...             ...             ...
34479      2017       골목상권        445              78             140
34480      2017       골목상권         41               2               4
34481      2017       골목상권        144               6              20
34482      2017       골목상권        583             133             148
34483      2017       골목상권        276               9              68

[34484 rows x 5 columns]