In [23]:
# 서울시 자치구별 직장인구 데이터 가져오기
# 총 34,483개의 레코드

import pandas as pd

data = pd.read_csv('../raw data/서울시 우리마을가게 상권분석서비스(상권-직장인구).csv', encoding='cp949')     # csv 파일 읽기
data.head()          # 상위 5개 확인

/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,기준_년월_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,상권_구분_자치구별,총_직장_인구_수,남성_직장_인구_수,여성_직장_인구_수,...,남성연령대_30_직장_인구_수,남성연령대_40_직장_인구_수,남성연령대_50_직장_인구_수,남성연령대_60_이상_직장_인구_수,여성연령대_10_직장_인구_수,여성연령대_20_직장_인구_수,여성연령대_30_직장_인구_수,여성연령대_40_직장_인구_수,여성연령대_50_직장_인구_수,여성연령대_60_이상_직장_인구_수
0,2022,2,U,관광특구,1001496,강남 마이스 관광특구,강남구,15904,8904,7000,...,3361,2887,1246,225,34,2353,2824,1361,350,78
1,2022,2,U,관광특구,1001495,잠실 관광특구,송파구,24375,14199,10176,...,4186,3496,2297,1685,69,2238,2379,2121,2217,1152
2,2022,2,U,관광특구,1001494,종로?청계 관광특구,종로구,32935,17150,15785,...,4911,4591,4158,1190,53,3072,5054,4892,2243,471
3,2022,2,U,관광특구,1001493,동대문패션타운 관광특구,동대문구,6054,2958,3096,...,737,662,600,403,23,891,958,498,461,265
4,2022,2,U,관광특구,1001492,명동 남대문 북창동 다동 무교동 관광특구,중구,104830,53674,51156,...,16080,15133,10824,2640,286,18274,17927,8251,4902,1516

In [24]:
data.tail()

,기준_년월_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,상권_구분_자치구별,총_직장_인구_수,남성_직장_인구_수,여성_직장_인구_수,...,남성연령대_30_직장_인구_수,남성연령대_40_직장_인구_수,남성연령대_50_직장_인구_수,남성연령대_60_이상_직장_인구_수,여성연령대_10_직장_인구_수,여성연령대_20_직장_인구_수,여성연령대_30_직장_인구_수,여성연령대_40_직장_인구_수,여성연령대_50_직장_인구_수,여성연령대_60_이상_직장_인구_수
34479,2017,2,A,골목상권,2110005,세검정,NaN,445,159,286,...,38,47,27,27,0,58,102,56,43,27
34480,2017,2,A,골목상권,2110004,대신고등학교,NaN,41,14,27,...,1,2,9,1,0,1,3,8,12,3
34481,2017,2,A,골목상권,2110003,세검정초등학교,NaN,144,79,65,...,10,30,25,10,0,2,10,25,17,11
34482,2017,2,A,골목상권,2110002,독립문역 1번,NaN,583,152,431,...,29,53,31,22,0,116,119,114,61,21
34483,2017,2,A,골목상권,2110001,이북5도청사,NaN,276,158,118,...,37,55,41,23,0,7,31,34,32,14

In [25]:
# 2022년 2분기 데이터 추출
data = data[data['기준_년월_코드']==2022]
data = data[data['기준_분기_코드']==2]
data

# 총 1,630개 레코드

,기준_년월_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,상권_구분_자치구별,총_직장_인구_수,남성_직장_인구_수,여성_직장_인구_수,...,남성연령대_30_직장_인구_수,남성연령대_40_직장_인구_수,남성연령대_50_직장_인구_수,남성연령대_60_이상_직장_인구_수,여성연령대_10_직장_인구_수,여성연령대_20_직장_인구_수,여성연령대_30_직장_인구_수,여성연령대_40_직장_인구_수,여성연령대_50_직장_인구_수,여성연령대_60_이상_직장_인구_수
0,2022,2,U,관광특구,1001496,강남 마이스 관광특구,강남구,15904,8904,7000,...,3361,2887,1246,225,34,2353,2824,1361,350,78
1,2022,2,U,관광특구,1001495,잠실 관광특구,송파구,24375,14199,10176,...,4186,3496,2297,1685,69,2238,2379,2121,2217,1152
2,2022,2,U,관광특구,1001494,종로?청계 관광특구,종로구,32935,17150,15785,...,4911,4591,4158,1190,53,3072,5054,4892,2243,471
3,2022,2,U,관광특구,1001493,동대문패션타운 관광특구,동대문구,6054,2958,3096,...,737,662,600,403,23,891,958,498,461,265
4,2022,2,U,관광특구,1001492,명동 남대문 북창동 다동 무교동 관광특구,중구,104830,53674,51156,...,16080,15133,10824,2640,286,18274,17927,8251,4902,1516
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1625,2022,2,A,골목상권,2110005,세검정,종로구,1006,510,496,...,137,157,121,59,3,89,159,133,74,38
1626,2022,2,A,골목상권,2110004,대신고등학교,종로구,32,14,18,...,0,3,8,2,0,2,4,5,6,1
1627,2022,2,A,골목상권,2110003,세검정초등학교,종로구,485,315,170,...,38,100,89,50,0,21,46,50,37,16
1628,2022,2,A,골목상권,2110002,독립문역 1번,종로구,475,121,354,...,25,41,14,15,0,121,115,77,30,11
1629,2022,2,A,골목상권,2110001,이북5도청사,종로구,1066,638,428,...,173,162,172,80,4,82,119,78,90,55

In [26]:
data.columns

Index(['기준_년월_코드', '기준_분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명',
       '상권_구분_자치구별', '총_직장_인구_수', '남성_직장_인구_수', '여성_직장_인구_수', '연령대_10_직장_인구_수',
       '연령대_20_직장_인구_수', '연령대_30_직장_인구_수', '연령대_40_직장_인구_수', '연령대_50_직장_인구_수',
       '연령대_60_이상_직장_인구_수', '남성연령대_10_직장_인구_수', '남성연령대_20_직장_인구_수',
       '남성연령대_30_직장_인구_수', '남성연령대_40_직장_인구_수', '남성연령대_50_직장_인구_수',
       '남성연령대_60_이상_직장_인구_수', '여성연령대_10_직장_인구_수', '여성연령대_20_직장_인구_수',
       '여성연령대_30_직장_인구_수', '여성연령대_40_직장_인구_수', '여성연령대_50_직장_인구_수',
       '여성연령대_60_이상_직장_인구_수'],
      dtype='object')

In [27]:
# 필요한 열 추출

data = data[['기준_년월_코드', '기준_분기_코드','상권_구분_코드_명','상권_코드_명','상권_구분_자치구별','총_직장_인구_수','연령대_20_직장_인구_수', '연령대_30_직장_인구_수']]
data

,기준_년월_코드,기준_분기_코드,상권_구분_코드_명,상권_코드_명,상권_구분_자치구별,총_직장_인구_수,연령대_20_직장_인구_수,연령대_30_직장_인구_수
0,2022,2,관광특구,강남 마이스 관광특구,강남구,15904,3513,6185
1,2022,2,관광특구,잠실 관광특구,송파구,24375,4722,6565
2,2022,2,관광특구,종로?청계 관광특구,종로구,32935,5357,9965
3,2022,2,관광특구,동대문패션타운 관광특구,동대문구,6054,1434,1695
4,2022,2,관광특구,명동 남대문 북창동 다동 무교동 관광특구,중구,104830,27134,34007
...,...,...,...,...,...,...,...,...
1625,2022,2,골목상권,세검정,종로구,1006,125,296
1626,2022,2,골목상권,대신고등학교,종로구,32,3,4
1627,2022,2,골목상권,세검정초등학교,종로구,485,53,84
1628,2022,2,골목상권,독립문역 1번,종로구,475,146,140
1629,2022,2,골목상권,이북5도청사,종로구,1066,133,292

In [34]:
# 자치구별 집계
# 20대 직장인구
grouped_20s = data.groupby('상권_구분_자치구별')['연령대_20_직장_인구_수'].sum()
grouped_20s

상권_구분_자치구별
강남구     150410
강동구       5317
강북구       1486
강서구       5707
관악구       3539
광진구       7645
구로구      16417
금천구      18871
노원구       1993
도봉구       1601
동대문구      9219
동작구       6829
마포구      18501
서대문구      5772
서초구      47964
성동구       9533
성북구       5007
송파구      32007
양천구       5044
영등포구     31742
용산구      33761
은평구       2951
종로구      39280
중구       88410
중랑구       1870
Name: 연령대_20_직장_인구_수, dtype: int64

In [35]:
# 자치구별 집계
# 30대 직장인구
grouped_30s = data.groupby('상권_구분_자치구별')['연령대_30_직장_인구_수'].sum()
grouped_30s

상권_구분_자치구별
강남구     220309
강동구       7961
강북구       2512
강서구       9059
관악구       5326
광진구      10609
구로구      26880
금천구      29860
노원구       2746
도봉구       3031
동대문구     12058
동작구      11111
마포구      26901
서대문구      7085
서초구      69121
성동구      13184
성북구      10281
송파구      49794
양천구       8489
영등포구     52140
용산구      45836
은평구       4584
종로구      66416
중구      113956
중랑구       3105
Name: 연령대_30_직장_인구_수, dtype: int64

In [37]:
# 타입 확인
type(grouped_20s)

pandas.core.series.Series

In [38]:
# 타입 변환 Series -> DataFrame
pd.DataFrame(grouped_20s)

            연령대_20_직장_인구_수
상권_구분_자치구별
강남구                 150410
강동구                   5317
강북구                   1486
강서구                   5707
관악구                   3539
광진구                   7645
구로구                  16417
금천구                  18871
노원구                   1993
도봉구                   1601
동대문구                  9219
동작구                   6829
마포구                  18501
서대문구                  5772
서초구                  47964
성동구                   9533
성북구                   5007
송파구                  32007
양천구                   5044
영등포구                 31742
용산구                  33761
은평구                   2951
종로구                  39280
중구                   88410
중랑구                   1870

In [41]:
type(grouped_30s)
pd.DataFrame(grouped_30s)

            연령대_30_직장_인구_수
상권_구분_자치구별
강남구                 220309
강동구                   7961
강북구                   2512
강서구                   9059
관악구                   5326
광진구                  10609
구로구                  26880
금천구                  29860
노원구                   2746
도봉구                   3031
동대문구                 12058
동작구                  11111
마포구                  26901
서대문구                  7085
서초구                  69121
성동구                  13184
성북구                  10281
송파구                  49794
양천구                   8489
영등포구                 52140
용산구                  45836
은평구                   4584
종로구                  66416
중구                  113956
중랑구                   3105

In [100]:
# 열 merge
grouped = pd.merge(grouped_20s, grouped_30s, on='상권_구분_자치구별')
grouped

            연령대_20_직장_인구_수  연령대_30_직장_인구_수
상권_구분_자치구별
강남구                 150410          220309
강동구                   5317            7961
강북구                   1486            2512
강서구                   5707            9059
관악구                   3539            5326
광진구                   7645           10609
구로구                  16417           26880
금천구                  18871           29860
노원구                   1993            2746
도봉구                   1601            3031
동대문구                  9219           12058
동작구                   6829           11111
마포구                  18501           26901
서대문구                  5772            7085
서초구                  47964           69121
성동구                   9533           13184
성북구                   5007           10281
송파구                  32007           49794
양천구                   5044            8489
영등포구                 31742           52140
용산구                  33761           45836
은평구                   2951            4584
종로구                  39280           66416
중구                   88410          113956
중랑구                   1870            3105

In [102]:
# csv 파일 저장
grouped.to_csv("working population.csv")

In [104]:
data = pd.read_csv('working population.csv')
data

   상권_구분_자치구별  연령대_20_직장_인구_수  연령대_30_직장_인구_수
0         강남구          150410          220309
1         강동구            5317            7961
2         강북구            1486            2512
3         강서구            5707            9059
4         관악구            3539            5326
5         광진구            7645           10609
6         구로구           16417           26880
7         금천구           18871           29860
8         노원구            1993            2746
9         도봉구            1601            3031
10       동대문구            9219           12058
11        동작구            6829           11111
12        마포구           18501           26901
13       서대문구            5772            7085
14        서초구           47964           69121
15        성동구            9533           13184
16        성북구            5007           10281
17        송파구           32007           49794
18        양천구            5044            8489
19       영등포구           31742           52140
20        용산구           33761           45836
21        은평구            2951            4584
22        종로구           39280           66416
23         중구           88410          113956
24        중랑구            1870            3105